body{
	font-family: 'Helvetica Neue';
	height: 800px;
	padding: 0;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
  	grid-template-rows: 20% 20% 20% 20% 20%;
}

.logo{
	border-radius: 100%;
	width: 200px;
	height: auto;
}

.connexion{
	background-color: #EEF1EF;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.space{
	background-image: url('logo/7.png');
	background-size: 100% auto;
	background-repeat: repeat-y;
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 6;
}

.inscription{
	background-color: #EEF1EF;
	display: flex;
	align-items: center;
	justify-content: center;
}

input{
	width: 100%;
	text-align: center;
	border-radius: 30px;
	border: solid 1px;
	color: #363537;
	height: 40px;
}

input.entree:invalid{
	background-color: grey;
	color: white;
}

::placeholder{
	text-align: center;
}

h1{
	font-weight: 500;
}

form{
	text-align: center;
}

.button{
	border: none;
	background-color: #363537;
	color: #EEF1EF;
}